.tamere {
  background-image: url("C:\Users\Kevin\cheri-test\src\photos_khai\DSC03059.jpg");
  background-size: cover;
  background-position: 50% 37%;
  min-height: 100vh;
  margin: 0;
}
.cheri{
  text-align: center;
  font-family: "Apple Chancery" cursive;
  color: white;
  font-size: 300%;
  margin-top: 149px;
}
